{
  "presets": [
    "env",
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "dynamic-import-webpack",
    ["relay", {
      "schema": "graphql/schema.graphql"
    }],
    ["babel-plugin-styled-components", {
      "ssr": true
    }],
    ["react-intl", {
      "messagesDir": "./build/intl/messages/"
    }],
    "universal-import"
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}