# Dependency directory
node_modules

#Environment
.env

# Build
build
buildClient
buildServer

# Logs
logs
*.log

# Generated
__generated__

# uploaded images
static/images/upload/*
!static/images/upload/README.md

# VS Code
.vscode